MFCalendarView-Demo/bin
MFCalendarView/bin
org.eclipse.core.resources.prefs
*.iml
.gradle
.DS_Store
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures
/bin/
/MFCalendarView/local.properties
/MFCalendarView/.idea/workspace.xml
/MFCalendarView/.idea/libraries
/MFCalendarView/build
/MFCalendarView/captures
/MFCalendarView/bin/
/MFCalendarView-Demo/local.properties
/MFCalendarView-Demo/.idea/workspace.xml
/MFCalendarView-Demo/.idea/libraries
/MFCalendarView-Demo/build
/MFCalendarView-Demo/captures
/MFCalendarView-Demo/bin/
